@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  --primary-color: #fe5000;
  --secondary-color: #0079fe;
  background-color: #f6f1f1;
}

#root {
  max-width: 1400px;
  margin: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 622px) {
  #root {
    margin: 0 12px;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar ul li:first-child {
    margin-bottom: 12px;
  }

  .navbar form {
    flex-wrap: wrap;
  }

  .form-input-1 {
    margin-bottom: 12px;
  }

  .form-input-1,
  .form-input-2 {
    width: 100%;
    justify-content: space-evenly;
  }

  .form-input-2 input[type="text"] {
    width: 100%;
  }

  .card {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-upper-body {
    flex-direction: column;
    align-items: baseline;
  }

  .card-body-image {
    display: flex;
    align-items: center;
  }

  .card-body-image figure img {
    margin-right: 12px;
  }

  .card-body-detailed-info {
    margin: 0;
  }

  .per-page,
  .select-options,
  .radio-buttons {
    margin-right: 8px;
  }

  .paginate {
    justify-content: space-between;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #root {
    margin: 0 12px;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar ul li:first-child {
    margin-bottom: 12px;
  }

  .navbar form {
    flex-wrap: wrap;
  }

  .card {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-upper-body {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .card-body-image {
    display: flex;
    align-items: center;
  }
  .per-page,
  .select-options,
  .radio-buttons {
    margin-right: 8px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #root {
    margin: 0 12px;
  }

  .navbar ul {
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul li:first-child {
    margin-bottom: 12px;
  }

  .card {
    grid-template-columns: repeat(2, 49%);
  }

  .card-upper-body {
    flex-direction: column;
    align-items: baseline;
  }

  .per-page,
  .select-options,
  .radio-buttons {
    margin-right: 8px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #root {
    margin: 0 24px;
  }

  .navbar ul {
    justify-content: space-between;
  }

  .navbar ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .card-body-image {
    flex-direction: column;
    align-items: baseline;
    padding: 0 12px;
  }

  .card-upper-body {
    flex-direction: row;
    align-items: center;
  }

  .card-body-image figure img {
    border-radius: 50%;
    width: 64px;
  }

  .per-page,
  .select-options,
  .radio-buttons {
    margin-right: 24px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #root {
    margin: auto;
  }

  .navbar ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .card-upper-body {
    justify-content: space-between;
    width: 100%;
  }

  .card-body-image {
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    width: 50%;
  }

  .per-page,
  .select-options,
  .radio-buttons {
    margin-right: 24px;
  }
}
