.navbar {
  margin: 24px 0;
  position: sticky;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li:first-child {
  font-weight: 700;
  font-size: 28px;
}

.navbar ul li {
  list-style: none;
  cursor: pointer;
}

.navbar form input {
  margin-right: 14px;
  padding: 12px;
}

.navbar form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-buttons {
  margin-right: 24px;
  text-align: center;
}

.select-options,
.per-page {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  padding: 4px;
  background-color: #fff;
  border: 2px solid #393e46;
  border-radius: 8px;
  width: 100%;
}

.navbar form button[type="submit"] {
  all: unset;
  background-color: #0079fe;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.navbar form button[type="submit"]:hover {
  all: unset;
  background-color: #0259b6;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 400ms;
}

.blink {
  animation: blink-animation 1.2s steps(5, start) infinite;
  -webkit-animation: blink-animation 1.2s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
